<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="ONE" Language="1033" Version="1.0.0.0" Manufacturer="ONE Interpreting" UpgradeCode="90f859ab-1437-406f-823f-7d52276664fd">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ONE" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="LocalesComponents" />
			<ComponentGroupRef Id="ExtensionsComponents" />
      <ComponentGroupRef Id="PepperFlashComponents" />
			<ComponentRef Id="locales_dir_component"/>
			<ComponentRef Id="extensions_dir_component"/>
      <ComponentRef Id="PepperFlash_dir_component"/>      
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop"/>
      <ComponentRef Id="LocalUserDataFolder_components"/>
		</Feature>
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Property Id='ARPPRODUCTICON' Value='app.ico' />
    <Upgrade Id="{90f859ab-1437-406f-823f-7d52276664fd}">
      <UpgradeVersion
         Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <CustomAction Id="Cleanup_logfile" Directory="LocalUserDataFolder"
    ExeCommand="cmd /C &quot;del /F /S /Q *.*&quot;"
    Execute="deferred" Return="ignore" HideTarget="no" Impersonate="no" />
    <CustomAction Id="Remove_dir" Directory="LocalUserDataFolder"
    ExeCommand="cmd /C &quot;rd /S /Q .&quot;"
    Execute="deferred" Return="ignore" HideTarget="no" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="Remove_dir" After="RemoveFiles" >
        REMOVE="ALL"
      </Custom>
      <RemoveExistingProducts After="InstallInitialize" />
      <!--<Custom Action="Cleanup_logfile" After="InstallInitialize" >
        REMOVE="ALL"
      </Custom>-->
    </InstallExecuteSequence>
  </Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ONE" >
					<Directory Id="locales_dir" Name="locales" >
						<Component Id="locales_dir_component" Guid="{CDAA8C29-56C5-4315-BDA6-A05F00EC8A38}"
								SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
								Win64="no" Location="either">
							<CreateFolder>
								<util:PermissionEx User="Users" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>
					<Directory Id="extensions_dir" Name="extensions" >
						<Component Id="extensions_dir_component" Guid="{E6E81E29-EE44-499C-92ED-A37AB576DC49}"
								SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
								Win64="no" Location="either">
							<CreateFolder>
								<util:PermissionEx User="Users" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>
          <Directory Id="PepperFlash_dir" Name="PepperFlash" >
						<Component Id="PepperFlash_dir_component" Guid="{434CA7C1-44E0-433D-B63D-A59A3E5F34D4}"
								SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
								Win64="no" Location="either">
							<CreateFolder>
								<util:PermissionEx User="Users" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="ONE"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
				<!--<Component Id="ApplicationShortcutDesktop" Guid="{D724FD88-3FCB-4F54-A969-4D171A69480B}">
					<Shortcut Id="ApplicationDesktopShortcut"
					   Name="Virtual Makeover"
					   Description="Virtual Makeover"
					   Target="[#Test.exe]"
					   WorkingDirectory="INSTALLFOLDER"/>
					<RemoveFolder Id="DesktopFolder" On="uninstall"/>
					<RegistryValue Root="HKCU"
					  Key="Software/VirtualMakeover"
					  Name="installed"
					  Type="integer"
					  Value="1"
					  KeyPath="yes"/>
				</Component>-->
			</Directory>
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LocalUserDataFolder" Name="ONE">
        </Directory>
      </Directory>
		</Directory>

	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="Main_Prog" Guid="{63E14B85-4EF7-4722-9E93-1E0CB82BE7C8}" KeyPath="yes">
				<!--<File Id="Test.exe" Source="d:\sandbox\utility\chromium\src\install\Test.exe"  Checksum="yes">
				</File>-->
				<File Id="ONE.bat" Source="d:\sandbox\utility\chromium\src\install\chrome.exe" Checksum="yes"/>
			</Component>
			<Component Id="DependFiles" Guid="{732E7E6A-8AE0-494B-9501-35CC40C299B6}" KeyPath="yes">
        <!--<File Id="chrome.exe" Source="d:\sandbox\utility\chromium\src\install\chrome.exe" Checksum="yes"/>-->
        <File Id="master_preferences" Source="d:\sandbox\utility\chromium\src\install\master_preferences" />
				<File Id="First_Run" Source="d:\sandbox\utility\chromium\src\install\First Run" />
				<File Id="gyp_win_tool" Source="d:\sandbox\utility\chromium\src\install\gyp-win-tool" />
				<File Id="nacl_irt_x86_32.nexe.cmd" Source="d:\sandbox\utility\chromium\src\install\nacl_irt_x86_32.nexe.cmd" />
				<File Id="nacl_irt_x86_64.nexe.cmd" Source="d:\sandbox\utility\chromium\src\install\nacl_irt_x86_64.nexe.cmd" />
				<File Id="icudtl.dat" Source="d:\sandbox\utility\chromium\src\install\icudtl.dat" />
				<File Id="chrome.dll" Source="d:\sandbox\utility\chromium\src\install\chrome.dll" />
				<File Id="chrome_child.dll" Source="d:\sandbox\utility\chromium\src\install\chrome_child.dll" />
				<File Id="chrome_elf.dll" Source="d:\sandbox\utility\chromium\src\install\chrome_elf.dll" />
				<!--<File Id="d3dcompiler_46.dll" Source="d:\sandbox\utility\chromium\src\install\d3dcompiler_46.dll" />-->
				<File Id="d3dcompiler_47.dll" Source="d:\sandbox\utility\chromium\src\install\d3dcompiler_47.dll" />
				<File Id="ffmpegsumo.dll" Source="d:\sandbox\utility\chromium\src\install\ffmpegsumo.dll" />
				<File Id="libEGL.dll" Source="d:\sandbox\utility\chromium\src\install\libEGL.dll" />
				<File Id="libexif.dll" Source="d:\sandbox\utility\chromium\src\install\libexif.dll" />
				<File Id="libGLESv2.dll" Source="d:\sandbox\utility\chromium\src\install\libGLESv2.dll" />
				<File Id="metro_driver.dll" Source="d:\sandbox\utility\chromium\src\install\metro_driver.dll" />
				<!--<File Id="msvcp120.dll" Source="d:\sandbox\utility\chromium\src\install\msvcp120.dll" />
				<File Id="msvcr120.dll" Source="d:\sandbox\utility\chromium\src\install\msvcr120.dll" />-->
				<!--<File Id="pdf.dll" Source="d:\sandbox\utility\chromium\src\install\pdf.dll" />-->
				<!--<File Id="chrome.exe" Source="d:\sandbox\utility\chromium\src\install\chrome.exe" />-->
				<File Id="delegate_execute.exe" Source="d:\sandbox\utility\chromium\src\install\delegate_execute.exe" />
				<File Id="delegate_execute_unittests.exe" Source="d:\sandbox\utility\chromium\src\install\delegate_execute_unittests.exe" />
				<File Id="genmacro.exe" Source="d:\sandbox\utility\chromium\src\install\genmacro.exe" />
				<File Id="genmodule.exe" Source="d:\sandbox\utility\chromium\src\install\genmodule.exe" />
				<File Id="genperf.exe" Source="d:\sandbox\utility\chromium\src\install\genperf.exe" />
				<File Id="genstring.exe" Source="d:\sandbox\utility\chromium\src\install\genstring.exe" />
				<File Id="genversion.exe" Source="d:\sandbox\utility\chromium\src\install\genversion.exe" />
				<!--<File Id="libvpx_obj_int_extract.exe" Source="d:\sandbox\utility\chromium\src\install\libvpx_obj_int_extract.exe" />-->
				<File Id="mksnapshot.exe" Source="d:\sandbox\utility\chromium\src\install\mksnapshot.exe" />
				<File Id="nacl64.exe" Source="d:\sandbox\utility\chromium\src\install\nacl64.exe" />
				<File Id="protoc.exe" Source="d:\sandbox\utility\chromium\src\install\protoc.exe" />
				<File Id="re2c.exe" Source="d:\sandbox\utility\chromium\src\install\re2c.exe" />
				<File Id="tls_edit.exe" Source="d:\sandbox\utility\chromium\src\install\tls_edit.exe" />
				<File Id="wow_helper.exe" Source="d:\sandbox\utility\chromium\src\install\wow_helper.exe" />
				<File Id="yasm.exe" Source="d:\sandbox\utility\chromium\src\install\yasm.exe" />
				<!--<File Id="debug.log" Source="d:\sandbox\utility\chromium\src\install\debug.log" />-->
				<!--<File Id="_39.0.2171.71.manifest" Source="d:\sandbox\utility\chromium\src\install\39.0.2171.71.manifest" />
				<File Id="_39.0.2171.90.manifest" Source="d:\sandbox\utility\chromium\src\install\39.0.2171.90.manifest" />-->
        <!--<File Id="_42.0.2311.90.manifest" Source="d:\sandbox\utility\chromium\src\install\42.0.2311.90.manifest" />-->
        <!--<File Id="_42.0.2311.152.manifest" Source="d:\sandbox\utility\chromium\src\install\42.0.2311.152.manifest" />-->
        <File Id="_43.0.2357.81.manifest" Source="d:\sandbox\utility\chromium\src\install\43.0.2357.81.manifest" />
        <File Id="nacl_irt_x86_32.nexe" Source="d:\sandbox\utility\chromium\src\install\nacl_irt_x86_32.nexe" />
				<File Id="nacl_irt_x86_64.nexe" Source="d:\sandbox\utility\chromium\src\install\nacl_irt_x86_64.nexe" />
				<!--<File Id="build.ninja" Source="d:\sandbox\utility\chromium\src\install\build.ninja" />-->
				<File Id="chrome_100_percent.pak" Source="d:\sandbox\utility\chromium\src\install\chrome_100_percent.pak" />
				<File Id="chrome_200_percent.pak" Source="d:\sandbox\utility\chromium\src\install\chrome_200_percent.pak" />
				<File Id="content_resources.pak" Source="d:\sandbox\utility\chromium\src\install\content_resources.pak" />
				<File Id="keyboard_resources.pak" Source="d:\sandbox\utility\chromium\src\install\keyboard_resources.pak" />
				<File Id="resources.pak" Source="d:\sandbox\utility\chromium\src\install\resources.pak" />
        <File Id="chrome_watcher.dll" Source="d:\sandbox\utility\chromium\src\install\chrome_watcher.dll" />
        <File Id="natives_blob.bin" Source="d:\sandbox\utility\chromium\src\install\natives_blob.bin" />
        <File Id="snapshot_blob.bin" Source="d:\sandbox\utility\chromium\src\install\snapshot_blob.bin" />        
			</Component>			
		</ComponentGroup>
		<ComponentGroup Id="LocalesComponents" Directory="locales_dir">
			<Component Id="locales_files" Guid="{A0317BE2-A9DF-479C-A40B-59CF84ED406F}">
				<File Id="am.pak" Source="d:\sandbox\utility\chromium\src\install\locales\am.pak" />
				<File Id="ar.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ar.pak" />
				<File Id="bg.pak" Source="d:\sandbox\utility\chromium\src\install\locales\bg.pak" />
				<File Id="bn.pak" Source="d:\sandbox\utility\chromium\src\install\locales\bn.pak" />
				<File Id="ca.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ca.pak" />
				<File Id="cs.pak" Source="d:\sandbox\utility\chromium\src\install\locales\cs.pak" />
				<File Id="da.pak" Source="d:\sandbox\utility\chromium\src\install\locales\da.pak" />
				<File Id="de.pak" Source="d:\sandbox\utility\chromium\src\install\locales\de.pak" />
				<File Id="el.pak" Source="d:\sandbox\utility\chromium\src\install\locales\el.pak" />
				<File Id="en_GB.pak" Source="d:\sandbox\utility\chromium\src\install\locales\en-GB.pak" />
				<File Id="en_US.pak" Source="d:\sandbox\utility\chromium\src\install\locales\en-US.pak" />
				<File Id="es.pak" Source="d:\sandbox\utility\chromium\src\install\locales\es.pak" />
				<File Id="es_419.pak" Source="d:\sandbox\utility\chromium\src\install\locales\es-419.pak" />
				<File Id="et.pak" Source="d:\sandbox\utility\chromium\src\install\locales\et.pak" />
				<File Id="fa.pak" Source="d:\sandbox\utility\chromium\src\install\locales\fa.pak" />
				<File Id="fi.pak" Source="d:\sandbox\utility\chromium\src\install\locales\fi.pak" />
				<File Id="fil.pak" Source="d:\sandbox\utility\chromium\src\install\locales\fil.pak" />
				<File Id="fr.pak" Source="d:\sandbox\utility\chromium\src\install\locales\fr.pak" />
				<File Id="gu.pak" Source="d:\sandbox\utility\chromium\src\install\locales\gu.pak" />
				<File Id="he.pak" Source="d:\sandbox\utility\chromium\src\install\locales\he.pak" />
				<File Id="hi.pak" Source="d:\sandbox\utility\chromium\src\install\locales\hi.pak" />
				<File Id="hr.pak" Source="d:\sandbox\utility\chromium\src\install\locales\hr.pak" />
				<File Id="hu.pak" Source="d:\sandbox\utility\chromium\src\install\locales\hu.pak" />
				<File Id="id.pak" Source="d:\sandbox\utility\chromium\src\install\locales\id.pak" />
				<File Id="it.pak" Source="d:\sandbox\utility\chromium\src\install\locales\it.pak" />
				<File Id="ja.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ja.pak" />
				<File Id="kn.pak" Source="d:\sandbox\utility\chromium\src\install\locales\kn.pak" />
				<File Id="ko.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ko.pak" />
				<File Id="lt.pak" Source="d:\sandbox\utility\chromium\src\install\locales\lt.pak" />
				<File Id="lv.pak" Source="d:\sandbox\utility\chromium\src\install\locales\lv.pak" />
				<File Id="ml.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ml.pak" />
				<File Id="mr.pak" Source="d:\sandbox\utility\chromium\src\install\locales\mr.pak" />
				<File Id="ms.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ms.pak" />
				<File Id="nb.pak" Source="d:\sandbox\utility\chromium\src\install\locales\nb.pak" />
				<File Id="nl.pak" Source="d:\sandbox\utility\chromium\src\install\locales\nl.pak" />
				<File Id="pl.pak" Source="d:\sandbox\utility\chromium\src\install\locales\pl.pak" />
				<File Id="pt_BR.pak" Source="d:\sandbox\utility\chromium\src\install\locales\pt-BR.pak" />
				<File Id="pt_PT.pak" Source="d:\sandbox\utility\chromium\src\install\locales\pt-PT.pak" />
				<File Id="ro.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ro.pak" />
				<File Id="ru.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ru.pak" />
				<File Id="sk.pak" Source="d:\sandbox\utility\chromium\src\install\locales\sk.pak" />
				<File Id="sl.pak" Source="d:\sandbox\utility\chromium\src\install\locales\sl.pak" />
				<File Id="sr.pak" Source="d:\sandbox\utility\chromium\src\install\locales\sr.pak" />
				<File Id="sv.pak" Source="d:\sandbox\utility\chromium\src\install\locales\sv.pak" />
				<File Id="sw.pak" Source="d:\sandbox\utility\chromium\src\install\locales\sw.pak" />
				<File Id="ta.pak" Source="d:\sandbox\utility\chromium\src\install\locales\ta.pak" />
				<File Id="te.pak" Source="d:\sandbox\utility\chromium\src\install\locales\te.pak" />
				<File Id="th.pak" Source="d:\sandbox\utility\chromium\src\install\locales\th.pak" />
				<File Id="tr.pak" Source="d:\sandbox\utility\chromium\src\install\locales\tr.pak" />
				<File Id="uk.pak" Source="d:\sandbox\utility\chromium\src\install\locales\uk.pak" />
				<File Id="vi.pak" Source="d:\sandbox\utility\chromium\src\install\locales\vi.pak" />
				<File Id="zh_CN.pak" Source="d:\sandbox\utility\chromium\src\install\locales\zh-CN.pak" />
				<File Id="zh_TW.pak" Source="d:\sandbox\utility\chromium\src\install\locales\zh-TW.pak" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ExtensionsComponents" Directory="extensions_dir">
			<Component Id="extensions_files">
				<File Id="external_extensions.json" Source="d:\sandbox\utility\chromium\src\install\extensions\external_extensions.json"/>
			</Component>
		</ComponentGroup>
    <ComponentGroup Id="PepperFlashComponents" Directory="PepperFlash_dir">
			<Component Id="PepperFlash_files" Guid="{DED7BCF0-A3CB-4F7E-9FEB-B59DE8A1152E}">
				<File Id="manifest.json" Source="d:\sandbox\utility\chromium\src\install\PepperFlash\manifest.json"/>
        <File Id="pepflashplayer.dll" Source="d:\sandbox\utility\chromium\src\install\PepperFlash\pepflashplayer.dll"/>
			</Component>
		</ComponentGroup>
		<Icon Id="app.ico" SourceFile="D:\sandbox\utility\chromium\src\git\ONE\changes\ONE\code\app\theme\chromium\chromium.ico" />    
    <DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="{5E63F11A-03F8-4C3C-8F0E-1B53172C4FB0}">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="ONE"
						  Description="ONE"
						  Target="[#ONE.bat]" Arguments="--no-default-browser-check --no-first-run"
						  WorkingDirectory="INSTALLFOLDER" Icon="app.ico" />
        <RemoveFile Id="RemoveApplicationShortcutFile" Name="ONE" On="uninstall"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\ONEInterpreting\ONE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder" >
			<Component Id="ApplicationShortcutDesktop" Guid="{D724FD88-3FCB-4F54-A969-4D171A69480B}">
				<Shortcut Id="ApplicationDesktopShortcut"
				   Name="ONE"
				   Description="ONE"
				   Target="[#ONE.bat]" Arguments="--no-default-browser-check --no-first-run"
				   WorkingDirectory="INSTALLFOLDER" Icon="app.ico"/>
        <RemoveFile Id="RemoveApplicationShortcutDesktopFile" Name="ONE" On="uninstall"/>
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\ONEInterpreting\ONE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Root="HKCU" Key="Software\ONEInterpreting\ONE" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="ONEExe" />
    </Property>
    <DirectoryRef Id="LocalUserDataFolder">
      <Component Id="LocalUserDataFolder_components" Guid="{C0E0B7EF-198A-41F6-9557-7F808CDED79C}">
            <RemoveFile Id="RemoveLocalUserDataFolderFile" Name="*.*" On="both" />
            <RemoveFolder Id="RemoveLocalUserDataFolder" Directory="LocalUserDataFolder" On="both" />
            <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />

            <CreateFolder>
								<util:PermissionEx User="Users" GenericAll="yes" />
						</CreateFolder>
            <RegistryKey Root="HKCU" Key="Software\ONEInterpreting\ONE">
              <RegistryValue Name="ONEExe" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
          </Component>
    </DirectoryRef>
	</Fragment>
</Wix>