<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="ONE" Language="1033" Version="87.0.4280.88" Manufacturer="ONE Interpreting" UpgradeCode="90f859ab-1437-406f-823f-7d52276664fd">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ONE" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<!--<ComponentGroupRef Id="LocalesComponents" />
			<ComponentGroupRef Id="ExtensionsComponents" />
      <ComponentGroupRef Id="PepperFlashComponents" />-->
      <ComponentGroupRef Id="SourceComponentGroup"/>
			<ComponentRef Id="bin_dir_component"/>
      <!--<ComponentRef Id="Main_Prog"/>-->
			<!--<ComponentRef Id="extensions_dir_component"/>
      <ComponentRef Id="PepperFlash_dir_component"/>-->      
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop"/>
      <ComponentRef Id="LocalUserDataFolder_components"/>
		</Feature>
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Property Id='ARPPRODUCTICON' Value='app.ico' />
    <Upgrade Id="{90f859ab-1437-406f-823f-7d52276664fd}">
      <UpgradeVersion
         Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <CustomAction Id="Cleanup_logfile" Directory="LocalUserDataFolder"
    ExeCommand="cmd /C &quot;del /F /S /Q *.*&quot;"
    Execute="deferred" Return="ignore" HideTarget="no" Impersonate="no" />
    <CustomAction Id="Remove_dir" Directory="LocalUserDataFolder"
    ExeCommand="cmd /C &quot;rd /S /Q .&quot;"
    Execute="deferred" Return="ignore" HideTarget="no" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="Remove_dir" After="RemoveFiles" >
        REMOVE="ALL"
      </Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
      <!--<Custom Action="Cleanup_logfile" After="InstallInitialize" >
        REMOVE="ALL"
      </Custom>-->
    </InstallExecuteSequence>
  </Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ONE" >
          <Directory Id="bin_dir" Name="bin" >
            <Component Id="bin_dir_component" Guid="{CDAA8C29-56C5-4315-BDA6-A05F00EC8A38}"
								SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
								Win64="no" Location="either">
              <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes" />
              </CreateFolder>
            </Component>
            <!--<Component Id="Main_Prog" Guid="{63E14B85-4EF7-4722-9E93-1E0CB82BE7C8}" KeyPath="yes">
              --><!--<File Id="Test.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\Test.exe"  Checksum="yes">
				</File>--><!--
              <File Id="ONE.bat" Source="$(var.SourcePath)\chrome.exe" Checksum="yes"/>
            </Component>-->
          </Directory>
					<!--<Directory Id="locales_dir" Name="locales" >
						<Component Id="locales_dir_component" Guid="{CDAA8C29-56C5-4315-BDA6-A05F00EC8A38}"
								SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
								Win64="no" Location="either">
							<CreateFolder>
								<util:PermissionEx User="Users" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>
					<Directory Id="extensions_dir" Name="extensions" >
						<Component Id="extensions_dir_component" Guid="{E6E81E29-EE44-499C-92ED-A37AB576DC49}"
								SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
								Win64="no" Location="either">
							<CreateFolder>
								<util:PermissionEx User="Users" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>
          <Directory Id="PepperFlash_dir" Name="PepperFlash" >
						<Component Id="PepperFlash_dir_component" Guid="{434CA7C1-44E0-433D-B63D-A59A3E5F34D4}"
								SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
								Win64="no" Location="either">
							<CreateFolder>
								<util:PermissionEx User="Users" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>-->
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="ONE"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
				<!--<Component Id="ApplicationShortcutDesktop" Guid="{D724FD88-3FCB-4F54-A969-4D171A69480B}">
					<Shortcut Id="ApplicationDesktopShortcut"
					   Name="Virtual Makeover"
					   Description="Virtual Makeover"
					   Target="[#Test.exe]"
					   WorkingDirectory="INSTALLFOLDER"/>
					<RemoveFolder Id="DesktopFolder" On="uninstall"/>
					<RegistryValue Root="HKCU"
					  Key="Software/VirtualMakeover"
					  Name="installed"
					  Type="integer"
					  Value="1"
					  KeyPath="yes"/>
				</Component>-->
			</Directory>
      <Directory Id="LocalAppDataFolder">
        <Directory Id="LocalUserDataFolder" Name="ONE">
        </Directory>
      </Directory>
		</Directory>

	</Fragment>

  <!--<Fragment>
    <ComponentGroup Id="ProductComponentsSource" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="SourceComponentGroup"/>
    </ComponentGroup>
  </Fragment>-->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<!--<Component Id="Main_Prog" Guid="{63E14B85-4EF7-4722-9E93-1E0CB82BE7C8}" Directory="bin_dir" KeyPath="yes">
				--><!--<File Id="Test.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\Test.exe"  Checksum="yes">
				</File>--><!--
				<File Id="ONE.bat" Source="$(var.SourcePath)\chrome.exe" Checksum="yes"/>        
			</Component>-->
			<!--<Component Id="DependFiles" Guid="{732E7E6A-8AE0-494B-9501-35CC40C299B6}" KeyPath="yes">
        --><!--<File Id="chrome.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\chrome.exe" Checksum="yes"/>--><!--
        <File Id="master_preferences" Source="O:\sandbox\utility\chromium\src\install\one75_x86\master_preferences" />
				<File Id="First_Run" Source="O:\sandbox\utility\chromium\src\install\one75_x86\First Run" />
				<File Id="gyp_win_tool" Source="O:\sandbox\utility\chromium\src\install\one75_x86\gyp-win-tool" />
				<File Id="nacl_irt_x86_32.nexe.cmd" Source="O:\sandbox\utility\chromium\src\install\one75_x86\nacl_irt_x86_32.nexe.cmd" />
				<File Id="nacl_irt_x86_64.nexe.cmd" Source="O:\sandbox\utility\chromium\src\install\one75_x86\nacl_irt_x86_64.nexe.cmd" />
				<File Id="icudtl.dat" Source="O:\sandbox\utility\chromium\src\install\one75_x86\icudtl.dat" />
				<File Id="chrome.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\chrome.dll" />
				<File Id="chrome_child.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\chrome_child.dll" />
				<File Id="chrome_elf.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\chrome_elf.dll" />
				--><!--<File Id="d3dcompiler_46.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\d3dcompiler_46.dll" />--><!--
				<File Id="d3dcompiler_47.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\d3dcompiler_47.dll" />
				<File Id="ffmpegsumo.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\ffmpegsumo.dll" />
				<File Id="libEGL.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\libEGL.dll" />
				<File Id="libexif.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\libexif.dll" />
				<File Id="libGLESv2.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\libGLESv2.dll" />
				<File Id="metro_driver.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\metro_driver.dll" />

        <File Id="VkLayer_core_validation.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\VkLayer_core_validation.dll" />
        <File Id="VkLayer_object_tracker.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\VkLayer_object_tracker.dll" />
        <File Id="VkLayer_parameter_validation.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\VkLayer_parameter_validation.dll" />
        <File Id="VkLayer_threading.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\VkLayer_threading.dll" />
        <File Id="VkLayer_unique_objects.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\VkLayer_unique_objects.dll" />
        <File Id="osmesa.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\osmesa.dll" />
        <File Id="pgort140.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\pgort140.dll" />
        
        --><!--<File Id="msvcp120.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\msvcp120.dll" />
				<File Id="msvcr120.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\msvcr120.dll" />--><!--
				--><!--<File Id="pdf.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\pdf.dll" />--><!--
				--><!--<File Id="chrome.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\chrome.exe" />--><!--
				<File Id="delegate_execute.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\delegate_execute.exe" />
				<File Id="delegate_execute_unittests.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\delegate_execute_unittests.exe" />
				<File Id="genmacro.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\genmacro.exe" />
				<File Id="genmodule.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\genmodule.exe" />
				<File Id="genperf.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\genperf.exe" />
				<File Id="genstring.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\genstring.exe" />
				<File Id="genversion.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\genversion.exe" />
				--><!--<File Id="libvpx_obj_int_extract.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\libvpx_obj_int_extract.exe" />--><!--
				<File Id="mksnapshot.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\mksnapshot.exe" />
				<File Id="nacl64.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\nacl64.exe" />
				<File Id="protoc.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\protoc.exe" />
				<File Id="re2c.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\re2c.exe" />
				<File Id="tls_edit.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\tls_edit.exe" />
				<File Id="wow_helper.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\wow_helper.exe" />
				<File Id="yasm.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\yasm.exe" />
        
        <File Id="brotli.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\brotli.exe" />
        <File Id="character_data_generator.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\character_data_generator.exe" />
        <File Id="flatc.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\flatc.exe" />
        <File Id="notification_helper.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\notification_helper.exe" />
        <File Id="pgosweep.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\pgosweep.exe" />
        <File Id="transport_security_state_generator.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\transport_security_state_generator.exe" />
        <File Id="v8_context_snapshot_generator.exe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\v8_context_snapshot_generator.exe" />
        --><!--brotli.exe
        character_data_generator.exe
        flatc.exe
        notification_helper.exe
        pgosweep.exe        
        transport_security_state_generator.exe
        v8_context_snapshot_generator.exe--><!--
        
        --><!--<File Id="debug.log" Source="O:\sandbox\utility\chromium\src\install\one75_x86\debug.log" />--><!--
				--><!--<File Id="_39.0.2171.71.manifest" Source="O:\sandbox\utility\chromium\src\install\one75_x86\39.0.2171.71.manifest" />
				<File Id="_39.0.2171.90.manifest" Source="O:\sandbox\utility\chromium\src\install\one75_x86\39.0.2171.90.manifest" />--><!--
        --><!--<File Id="_42.0.2311.90.manifest" Source="O:\sandbox\utility\chromium\src\install\one75_x86\42.0.2311.90.manifest" />--><!--
        --><!--<File Id="_42.0.2311.152.manifest" Source="O:\sandbox\utility\chromium\src\install\one75_x86\42.0.2311.152.manifest" />--><!--
        --><!--<File Id="_48.0.2564.97.manifest" Source="O:\sandbox\utility\chromium\src\install\one75_x86\48.0.2564.97.manifest" />--><!--
        --><!--<File Id="_52.0.2743.82.manifest" Source="O:\sandbox\utility\chromium\src\install\one75_x86\52.0.2743.82.manifest" />--><!--
        --><!--<File Id="_55.0.2883.87.manifest" Source="O:\sandbox\utility\chromium\src\install\one75_x86\55.0.2883.87.manifest" />--><!--
        <File Id="_71.0.3578.98.manifest" Source="O:\sandbox\utility\chromium\src\install\one75_x86\71.0.3578.98.manifest" />
        
        <File Id="nacl_irt_x86_32.nexe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\nacl_irt_x86_32.nexe" />
				<File Id="nacl_irt_x86_64.nexe" Source="O:\sandbox\utility\chromium\src\install\one75_x86\nacl_irt_x86_64.nexe" />
				--><!--<File Id="build.ninja" Source="O:\sandbox\utility\chromium\src\install\one75_x86\build.ninja" />--><!--
				<File Id="chrome_100_percent.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\chrome_100_percent.pak" />
				<File Id="chrome_200_percent.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\chrome_200_percent.pak" />
				<File Id="content_resources.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\content_resources.pak" />
				<File Id="keyboard_resources.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\keyboard_resources.pak" />
				<File Id="resources.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\resources.pak" />
        <File Id="chrome_watcher.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\chrome_watcher.dll" />
        <File Id="natives_blob.bin" Source="O:\sandbox\utility\chromium\src\install\one75_x86\natives_blob.bin" />
        <File Id="snapshot_blob.bin" Source="O:\sandbox\utility\chromium\src\install\one75_x86\snapshot_blob.bin" />
        <File Id="v8_context_snapshot.bin" Source="O:\sandbox\utility\chromium\src\install\one75_x86\v8_context_snapshot.bin" />        
      </Component>-->			
		</ComponentGroup>
		<!--<ComponentGroup Id="LocalesComponents" Directory="locales_dir">
			<Component Id="locales_files" Guid="{A0317BE2-A9DF-479C-A40B-59CF84ED406F}">
				<File Id="am.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\am.pak" />
				<File Id="ar.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ar.pak" />
				<File Id="bg.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\bg.pak" />
				<File Id="bn.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\bn.pak" />
				<File Id="ca.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ca.pak" />
				<File Id="cs.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\cs.pak" />
				<File Id="da.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\da.pak" />
				<File Id="de.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\de.pak" />
				<File Id="el.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\el.pak" />
				<File Id="en_GB.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\en-GB.pak" />
				<File Id="en_US.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\en-US.pak" />
				<File Id="es.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\es.pak" />
				<File Id="es_419.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\es-419.pak" />
				<File Id="et.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\et.pak" />
				<File Id="fa.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\fa.pak" />
				<File Id="fi.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\fi.pak" />
				<File Id="fil.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\fil.pak" />
				<File Id="fr.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\fr.pak" />
				<File Id="gu.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\gu.pak" />
				<File Id="he.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\he.pak" />
				<File Id="hi.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\hi.pak" />
				<File Id="hr.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\hr.pak" />
				<File Id="hu.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\hu.pak" />
				<File Id="id.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\id.pak" />
				<File Id="it.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\it.pak" />
				<File Id="ja.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ja.pak" />
				<File Id="kn.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\kn.pak" />
				<File Id="ko.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ko.pak" />
				<File Id="lt.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\lt.pak" />
				<File Id="lv.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\lv.pak" />
				<File Id="ml.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ml.pak" />
				<File Id="mr.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\mr.pak" />
				<File Id="ms.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ms.pak" />
				<File Id="nb.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\nb.pak" />
				<File Id="nl.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\nl.pak" />
				<File Id="pl.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\pl.pak" />
				<File Id="pt_BR.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\pt-BR.pak" />
				<File Id="pt_PT.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\pt-PT.pak" />
				<File Id="ro.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ro.pak" />
				<File Id="ru.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ru.pak" />
				<File Id="sk.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\sk.pak" />
				<File Id="sl.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\sl.pak" />
				<File Id="sr.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\sr.pak" />
				<File Id="sv.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\sv.pak" />
				<File Id="sw.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\sw.pak" />
				<File Id="ta.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\ta.pak" />
				<File Id="te.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\te.pak" />
				<File Id="th.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\th.pak" />
				<File Id="tr.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\tr.pak" />
				<File Id="uk.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\uk.pak" />
				<File Id="vi.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\vi.pak" />
				<File Id="zh_CN.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\zh-CN.pak" />
				<File Id="zh_TW.pak" Source="O:\sandbox\utility\chromium\src\install\one75_x86\locales\zh-TW.pak" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="ExtensionsComponents" Directory="extensions_dir">
			<Component Id="extensions_files">
				--><!--<File Id="external_extensions.json" Source="O:\sandbox\utility\chromium\src\install\one75_x86\extensions\external_extensions.json"/>--><!--
			</Component>
		</ComponentGroup>
    <ComponentGroup Id="PepperFlashComponents" Directory="PepperFlash_dir">
			<Component Id="PepperFlash_files" Guid="{DED7BCF0-A3CB-4F7E-9FEB-B59DE8A1152E}">
				--><!--<File Id="manifest.json" Source="O:\sandbox\utility\chromium\src\install\one75_x86\PepperFlash\manifest.json"/>
        <File Id="pepflashplayer.dll" Source="O:\sandbox\utility\chromium\src\install\one75_x86\PepperFlash\pepflashplayer.dll"/>--><!--
			</Component>
		</ComponentGroup>-->
		<Icon Id="app.ico" SourceFile="$(var.SourcePath)\chromium.ico" />
    
    <DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="{5E63F11A-03F8-4C3C-8F0E-1B53172C4FB0}">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="ONE"
						  Description="ONE"
						  Target="[INSTALLFOLDER]\bin\chrome.exe" Arguments="--no-default-browser-check --no-first-run --enable-new-profile-management --enable-account-consistency"
						  WorkingDirectory="bin_dir" Icon="app.ico" />
        <RemoveFile Id="RemoveApplicationShortcutFile" Name="ONE" On="uninstall"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\ONEInterpreting\ONE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder" >
			<Component Id="ApplicationShortcutDesktop" Guid="{D724FD88-3FCB-4F54-A969-4D171A69480B}">
				<Shortcut Id="ApplicationDesktopShortcut"
				   Name="ONE"
				   Description="ONE"
				   Target="[INSTALLFOLDER]\bin\chrome.exe" Arguments="--no-default-browser-check --no-first-run --enable-new-profile-management --enable-account-consistency"
				   WorkingDirectory="bin_dir" Icon="app.ico"/>
        <RemoveFile Id="RemoveApplicationShortcutDesktopFile" Name="ONE" On="uninstall"/>
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\ONEInterpreting\ONE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Root="HKCU" Key="Software\ONEInterpreting\ONE" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="ONEExe" />
    </Property>
    <DirectoryRef Id="LocalUserDataFolder">
      <Component Id="LocalUserDataFolder_components" Guid="{C0E0B7EF-198A-41F6-9557-7F808CDED79C}">
            <RemoveFile Id="RemoveLocalUserDataFolderFile" Name="*.*" On="both" />
            <RemoveFolder Id="RemoveLocalUserDataFolder" Directory="LocalUserDataFolder" On="both" />
            <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />

            <CreateFolder>
								<util:PermissionEx User="Users" GenericAll="yes" />
						</CreateFolder>
            <RegistryKey Root="HKCU" Key="Software\ONEInterpreting\ONE">
              <RegistryValue Name="ONEExe" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
          </Component>
    </DirectoryRef>
	</Fragment>
</Wix>